<a href="https://colab.research.google.com/github/RomiPawar/Input1/blob/main/Input1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [6]:
data = pd.read_excel('/content/drive/MyDrive/data/Input_1 - Python Developer Intern - Task 2 - Datasets.xlsx')

In [7]:
data.head(15)
data.sort_values

<bound method DataFrame.sort_values of         Name  id Chapter Tag Concept Test 1 - score  \
0    Darshan  34       C8S11                      4
1      Durga  35       C8S11                      3
2      Idhaz  36       C8S11                      5
3    Kishore  37       C8S11                      1
4       Mano  38       C8S11                      4
5     Nandha  39       C8S11                      3
6   Nandhini  40       C8S11                      5
7     Rubika  42       C8S11                      2
8      Saila  43       C8S11                      -
9    Shankar  44       C8S11                      1
10     Tarun  45       C8S11                      3
11    Thanis  46       C8S11                      5
12   Vignesh  47       C8S11                      3

   Concept Test 1 - time-taken (seconds) Concept Test 1 - answered  \
0                                    118                         4
1                                    886                         5
2                                    112                         5
3                                     29                         3
4                                    242                         5
5                                     55                         5
6                                    120                         5
7                                    138                         5
8                                      -                         -
9                                     65                         5
10                                    71                         5
11                                   199                         5
12                                   115                         5

   Concept Test 1- correct Concept Test 1- wrong Concept Test 1- skipped  \
0                        4                     0                       1
1                        3                     2                       0
2                        5                     0                       0
3                        1                     2                       2
4                        4                     1                       0
5                        3                     2                       0
6                        5                     0                       0
7                        2                     3                       0
8                        -                     -                       -
9                        1                     4                       0
10                       3                     2                       0
11                       5                     0                       0
12                       3                     2                       0

   Concept Test 2 - score  ... Full Chapter Test 1 - answered  \
0                       1  ...                             10
1                       3  ...                             10
2                       3  ...                             10
3                       -  ...                             10
4                       0  ...                             10
5                       0  ...                              9
6                       3  ...                             10
7                       0  ...                             10
8                       0  ...                              -
9                       1  ...                             10
10                      2  ...                              4
11                      2  ...                             10
12                      2  ...                             10

   Full Chapter Test 1- correct Full Chapter Test 1- wrong  \
0                             6                          4
1                             4                          6
2                             4                          6
3                             4                          6
4                             4                          6
5                             2                          7
6                             7                          3
7                             7                          3
8                             -                          -
9                             4                          6
10                            1                          3
11                            3                          7
12                            4                          6

   Full Chapter Test 1- skipped Full Chapter Test 2 - score  \
0                             0                           6
1                             0                           6
2                             0                           8
3                             0                           0
4                             0                           2
5                             1                           0
6                             0                           5
7                             0                           5
8                             -                           -
9                             0                           2
10                            6                           1
11                            0                           1
12                            0                           -

   Full Chapter Test 2 - time-taken (seconds) Full Chapter Test 2 - answered  \
0                                         397                             10
1                                         539                             10
2                                         583                             10
3                                          37                              9
4                                         657                             10
5                                          30                             10
6                                         691                             10
7                                         280                             10
8                                           -                              -
9                                         143                             10
10                                        139                              9
11                                         72                             10
12                                          -                              -

   Full Chapter Test 2- correct Full Chapter Test 2- wrong  \
0                             6                          4
1                             6                          4
2                             8                          2
3                             0                          9
4                             2                          8
5                             0                         10
6                             5                          5
7                             5                          5
8                             -                          -
9                             2                          8
10                            1                          8
11                            1                          9
12                            -                          -

   Full Chapter Test 2- skipped
0                             0
1                             0
2                             0
3                             1
4                             0
5                             0
6                             0
7                             0
8                             -
9                             0
10                            1
11                            0
12                            -

[13 rows x 57 columns]>

In [8]:
data = pd.DataFrame({'Test_Name': ['Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 2','Concept Test 5',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2',
                     'Concept Test 1','Concept Test 2','Concept Test 3','Concept Test 4','Concept Test 5','Full Chapter Test 1','Full Chapter Test 2','Topic Test 1','Topic Test 2']})

In [9]:
data.head(110)

               Test_Name
0         Concept Test 1
1         Concept Test 2
2         Concept Test 3
3         Concept Test 4
4         Concept Test 5
..                   ...
105       Concept Test 5
106  Full Chapter Test 1
107  Full Chapter Test 2
108         Topic Test 1
109         Topic Test 2

[110 rows x 1 columns]

In [12]:
from openpyxl import load_workbook
wb = load_workbook('/content/drive/MyDrive/data/Input_1 - Python Developer Intern - Task 2 - Datasets.xlsx')
print(wb.sheetnames)

['in']

In [15]:
cols = ['Name','Userid','chapter Tag','Test_Name','answered','skipped']
txt = ['Durga','34','C8S11 ','Concept Test 1','4','1']

for num in range(5)
  row = data.row(data)
  for index, col in enumerate(cols):
    value = txt[index] + num
    row.write(index, value)

data.save()

SyntaxError: ignored